@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@700&display=swap');

body, html {
    width: 100%;
    height: 100%;
}

/* 
** [ Restyle ]
*/

.was-validated .custom-control-input:valid ~ .custom-control-label, .custom-control-input.is-valid ~ .custom-control-label {
    color: #858796 !important;
}

.was-validated .custom-control-input:valid ~ .custom-control-label::before, .custom-control-input.is-valid ~ .custom-control-label::before {
    background-color: #fff !important;
    border: #b7b9cc solid 1px !important;
}

.rightAlert {
    max-width: 50px; 
    min-width: 25px; 
    border-radius: 25px 0px 0px 25px;
}

.cardAlert {
    border-radius: 25px;
    min-height: 80px;
    height: auto;
    border: 0 !important;
}

.rightAlertParent {
    height: 100%;
}

.card-content {
    width: 100% !important;
    border-radius: 0px 25px 25px 0px;
}

.grecaptcha-badge {
    z-index: 5000;
}

#loaderPage {
    background: url("https://zupimages.net/up/20/22/n5ja.gif") no-repeat scroll center center #E5EFF1;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 10000;
}

/* 
** [ Register Page ]
*/

#register {
    background: url("https://zupimages.net/up/20/22/ohmp.jpg") no-repeat center center fixed;
    background-size: cover;
}

#register .card {
    min-height: 450px;
    height: auto;
    border-radius: 25px;
    border: 0 !important;
}

#register .rightDivParent {
    height: 450px;
}

#register .rightDiv {
    max-width: 200px; 
    min-width: 50px; 
    border-radius: 25px 0px 0px 25px;
}

#register .link {
    margin-left: 200px;
}

@media screen and (max-width: 1200px){
    #register .rightDivParent {
        height: 700px;
    }
    #register .rightDiv {
        display: none;
    }
    
    #register .link {
        margin-left: 0px !important;
    }
}

@media screen and (max-width: 825px){
    #register .rightDiv {
        max-width: 150px;
    }
}

@media screen and (max-width: 695px){
    #register .rightDiv {
        max-width: 125px;
    }
}

@media screen and (max-width: 525px){
    #register .rightDiv {
        max-width: 100px;
    }
}

#register .d-table-cell {
    vertical-align: middle;
}

#register .card-content {
    width: 100%;
    padding: 60px
}

/* 
** [ Login Page ]
*/

#login {
    background: url("https://zupimages.net/up/20/22/2m7h.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#login .card {
    min-height: 380px;
    height: auto;
    border-radius: 25px;
    border: 0 !important;
}

#login .rightDivParent {
    height: 380px;
}

#login .rightDiv {
    max-width: 200px; 
    min-width: 50px; 
    border-radius: 25px 0px 0px 25px;
    display: block;
}

#login .link {
    margin-left: 200px;
}

@media screen and (max-width: 1200px){
    #login .rightDivParent {
        height: 480px;
    }
}

@media screen and (max-width: 576px){
    #login .rightDivParent {
        height: 530px;
    }

    #login .rightDiv {
        display: none;
    }
}

@media screen and (max-width: 825px){
    #login .rightDiv {
        max-width: 150px;
    }
    #login .link {
        margin-left: 150px;
    }
}

@media screen and (max-width: 695px){
    #login .rightDiv {
        max-width: 125px;
    }

    #login .rightDiv h1 {
        font-size: 1.6rem !important;
    }

    #login .link {
        margin-left: 0;
    }
}

@media screen and (max-width: 525px){
    #login .rightDiv {
        max-width: 100px;
    }

    #login .rightDiv h1 {
        font-size: 1.3rem !important;
    }
}

#login .d-table-cell {
    vertical-align: middle;
}

#login .card-content {
    width: 100%;
    padding: 60px;
    border-radius: 0px 25px 25px 0px;
}

/* 
** [ Forgot Page ]
*/

#forgot {
    background: url("https://zupimages.net/up/20/22/zlya.jpg") no-repeat center center fixed;
    background-size: cover;
}

#forgot .card {
    min-height: 320px;
    height: auto;
    border-radius: 25px;
    border: 0 !important;
}

#forgot .rightDivParent {
    height: 320px;
}

#forgot .rightDiv {
    max-width: 200px; 
    min-width: 50px; 
    border-radius: 25px 0px 0px 25px;
}

@media screen and (max-width: 1200px){
    #forgot .rightDivParent {
        height: 360px;
    }
}

@media screen and (max-width: 576px){
    #forgot .rightDivParent {
        height: 360px;
    }
    #forgot .rightDiv {
        display: none;
    }
}

@media screen and (max-width: 825px){
    #forgot .rightDiv {
        max-width: 150px;
    }
}

@media screen and (max-width: 695px){
    #forgot .rightDiv {
        max-width: 125px;
    }

    #forgot .rightDiv h1 {
        font-size: 1.6rem !important;
    }
}

@media screen and (max-width: 525px){
    #forgot .rightDiv {
        max-width: 100px;
    }

    #forgot .rightDiv h1 {
        font-size: 1.3rem !important;
    }
}

#forgot .d-table-cell {
    vertical-align: middle;
}

#forgot .card-content {
    width: 100%;
    padding: 60px;
    border-radius: 0px 25px 25px 0px;
}

/* 
** [ Validation Page ]
*/

#validation {
    background: url("https://zupimages.net/up/20/22/rkgu.jpg") no-repeat center center fixed;
    background-size: cover;
}

#validation .card {
    min-height: 320px;
    height: auto;
    border-radius: 25px;
    border: 0 !important;
}

#validation .rightDivParent {
    height: 320px;
}

#validation .rightDiv {
    max-width: 200px; 
    min-width: 50px; 
    border-radius: 25px 0px 0px 25px;
}

@media screen and (max-width: 1200px){
    #validation .rightDivParent {
        height: 480px;
    }
}

@media screen and (max-width: 576px){
    #validation .rightDivParent {
        height: 480px;
    }
    #validation .rightDiv {
        display: none;
    }
}

@media screen and (max-width: 825px){
    #validation .rightDiv {
        max-width: 150px;
    }
}

@media screen and (max-width: 695px){
    #validation .rightDiv {
        max-width: 125px;
    }

    #validation .rightDiv h1 {
        font-size: 1.6rem !important;
    }
}

@media screen and (max-width: 525px){
    #validation .rightDiv {
        max-width: 100px;
    }

    #validation .rightDiv h1 {
        font-size: 1.3rem !important;
    }
}

#validation .d-table-cell {
    vertical-align: middle;
}

#validation .card-content {
    width: 100%;
    padding: 60px;
    border-radius: 0px 25px 25px 0px;
}

#home .logoCompany {
    margin: auto;
    margin-top: 20px;
    width: 60% !important;
}

#page404 .container-fluid {
    background: url("https://zupimages.net/up/20/29/21vi.jpg") no-repeat center center fixed;
    background-size: cover;
}

#page404 .container-fluid h1 {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-family: 'Arimo', sans-serif;
    font-size: 70px;
}

@media screen and (max-width: 430px){
    #page404 .container-fluid h1 {
        font-size: 50px;
    }
}

#account .avatar {
    border-radius: 50%;
    background-color: #13abe7;
}

#accountChange .card.light-version .file-field input[type=text] {
    border-bottom: 1px solid #fff; 
}
#accountChange .card.light-version .file-field input[type=text]::-webkit-input-placeholder {
    color: #fff;
    font-weight: 300; 
}
#accountChange .card.light-version .file-field input[type=text]::-moz-placeholder {
    color: #fff;
    font-weight: 300; 
}
#accountChange .card.light-version .file-field input[type=text]:-ms-input-placeholder {
    color: #fff;
    font-weight: 300; 
}
#accountChange .card.light-version .file-field input[type=text]::placeholder {
    color: #fff;
    font-weight: 300; 
}
#accountChange .card.light-version .file-field input[type=text]:focus:not([readonly]) {
    -webkit-box-shadow: 0 1px 0 0 #fff;
    box-shadow: 0 1px 0 0 #fff; 
}
#accountChange .card.light-version .file-field input[type=text].valid {
    border-bottom: 1px solid #00c851;
    -webkit-box-shadow: 0 1px 0 0 #00c851;
    box-shadow: 0 1px 0 0 #00c851; 
}
#accountChange .card.light-version .file-field input[type=text]:focus.valid {
    border-bottom: 1px solid #00c851;
    -webkit-box-shadow: 0 1px 0 0 #00c851;
    box-shadow: 0 1px 0 0 #00c851; 
}